[user]
    name = Moisès Macià
    email = mmacia@gmail.com

[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    df = diff
    cp = cherry-pick
    pr = pull --rebase --stat

    cam = commit --amend
    ours = checkout --ours
    theirs = checkuot --theirs

[core]
    editor = vim

[color]
    ui = true

[remote "origin"]
    prune = true  # remove local branch when do a fetch/pull if remote was deleted
